<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>HomeStream</title>

    <!-- STYLES -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/video-js.css" rel="stylesheet">
    <link href="/css/screen.css" rel="stylesheet">
		
		<% 
			function fixedEncodeURIComponent (str) {
			  return encodeURIComponent(str).replace(/[!'()*]/g, function(c) {
			    return '%' + c.charCodeAt(0).toString(16);
			  });
			}

			var folderURL = '';
			if(typeof(folders) !== 'undefined'){
				if(folders.length > 1){
					for(var i = 0; i < folders.length; i++){
						if(i !== folders.length - 1){
							folderURL += fixedEncodeURIComponent(folders[i]) + '/';
						}else{
							folderURL += fixedEncodeURIComponent(folders[i]);
						}
					}
				}else{
					folderURL = fixedEncodeURIComponent(folders[0]);
				}
			}
		%>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HomeStream</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="mainContent" class="container">

      <div class="row">
      	<div class="col-md-12">
      		<div id="videoList" class="list-group">
      			<% if(folderURL.length > 0){ %>
      				<% files.forEach(function(file) { %>
	      				<% if(file.split('.').length > 1){ %>
                  <div class="btn-group" role="group">
                    <a class="btn btn-default leftBtn" href="/videos/<%= folderURL %>/<%= fixedEncodeURIComponent(file) %>"><%= file %></a>
                    <a class="btn btn-primary rightBtn" href="/play?url=/videos/<%= folderURL %>/<%= fixedEncodeURIComponent(file) %>">
                      <i class="fa fa-video-camera"></i>
                    </a>
                  </div>
	      				<% }else { %>
                  <div class="btn-group" role="group">
                    <a class="btn btn-default folderBtn" href="/<%= folderURL %>/<%= fixedEncodeURIComponent(file) %>">
                      <%= file %>
                      <i class="fa fa-angle-right pull-right"></i>
                    </a>
                  </div>
	      				<% } %>
					    <% }); %>
      			<% }else { %>
	      			<% files.forEach(function(file) { %>
	      				<% if(file.split('.').length > 1){ %>
                  <div class="btn-group" role="group">
                    <a class="btn btn-default leftBtn" href="/videos/<%= fixedEncodeURIComponent(file) %>"><%= file %></a>
                    <a class="btn btn-primary rightBtn" href="/play?url=/videos/<%= fixedEncodeURIComponent(file) %>">
                      <i class="fa fa-video-camera"></i>
                    </a>
                  </div>
	      				<% }else { %>
                  <div class="btn-group" role="group">
                    <a class="btn btn-default folderBtn" href="/<%= fixedEncodeURIComponent(file) %>">
                      <%= file %>
                      <i class="fa fa-angle-right pull-right"></i>
                    </a>
                  </div>
	      				<% } %>
					    <% }); %>
      			<% } %>
					</div>
      	</div>
      </div>
    </div><!-- /.container -->
		
		<!-- LIBRARIES -->
		<script src="/js/libs/jquery.js"></script>
		<script src="/js/libs/bootstrap.js"></script>
		<script src="/js/libs/jquery.bootstrap-growl.js"></script>
		<script src="/js/libs/video.js"></script>

		<!-- SCRIPTS -->
		<script src="/js/main.js"></script>

	</body>
</html>